* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red !important; */
}

body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

header, .section_1 {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.section_1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#first_li{
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

header ul {
    display: flex;
    padding: 1rem 200px;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.section_1{
    padding: 70px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_1 div *{
    margin: 0.5rem;
}

.section_1 button{
    border-style: none;
    border-radius: 7px;
    background-color: dodgerblue;
    color: #E5E7EB;
    padding: 10px 30px;
    font-size: 18px;
}
