* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red !important; */
}

body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

header, .section_1 {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.section_1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#first_li{
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

header ul {
    display: flex;
    padding: 1rem 200px;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.section_1{
    padding: 70px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_1 div *{
    margin: 0.5rem;
}

.section_1 button{
    border-style: none;
    border-radius: 7px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 10px 30px;
    font-size: 18px;
}

.section_2{
    padding: 70px 200px;
}

.section_2 h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
}

.section_2 ul div{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882f6;
    border-width: 4px;
    margin: 0.5rem;
}

.section_2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section_2 ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_2 ul li p{
    text-align: center;
    width: 150px;
}

.section_3 {
    padding: 70px 350px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

#quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

#quote_author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
}

.section_4 {
    padding: 70px 200px;
}

.section_4 > div{
    padding: 50px 100px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.section_4 *{
    color: #F9FAF8;
}

.section_4 button {
    padding: 0.5rem 2rem;
    background-color: transparent;
    border-style: solid;
    border-radius: 12px;
    border-color: #F9FAF8;
}